<a href="https://colab.research.google.com/github/abhisam/PadhAI_Notebooks/blob/master/pandas_tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# Read a csv file
# converting date object fields to date type
flights = pd.read_csv("ny-flights.csv.gz",
                      parse_dates=["fl_date", "arr", "dep"])
flights

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
0,2014-01-01,AA,19805,N338AA,1,JFK,LAX,914.0,14.0,1238.0,13.0,0.0,2014-01-01 12:38:00,2014-01-01 09:14:00
1,2014-01-01,AA,19805,N335AA,3,JFK,LAX,1157.0,-3.0,1523.0,13.0,0.0,2014-01-01 15:23:00,2014-01-01 11:57:00
2,2014-01-01,AA,19805,N327AA,21,JFK,LAX,1902.0,2.0,2224.0,9.0,0.0,2014-01-01 22:24:00,2014-01-01 19:02:00
3,2014-01-01,AA,19805,N3EHAA,29,LGA,PBI,722.0,-8.0,1014.0,-26.0,0.0,2014-01-01 10:14:00,2014-01-01 07:22:00
4,2014-01-01,AA,19805,N319AA,117,JFK,LAX,1347.0,2.0,1706.0,1.0,0.0,2014-01-01 17:06:00,2014-01-01 13:47:00
5,2014-01-01,AA,19805,N323AA,185,JFK,LAX,2133.0,-2.0,37.0,-18.0,0.0,2014-01-01 00:37:00,2014-01-01 21:33:00
6,2014-01-01,AA,19805,N328AA,133,JFK,LAX,1542.0,-3.0,1906.0,-14.0,0.0,2014-01-01 19:06:00,2014-01-01 15:42:00
7,2014-01-01,AA,19805,N5FJAA,145,JFK,MIA,1509.0,-1.0,1828.0,-17.0,0.0,2014-01-01 18:28:00,2014-01-01 15:09:00
8,2014-01-01,AA,19805,N3HYAA,235,JFK,SEA,1848.0,-2.0,2206.0,-14.0,0.0,2014-01-01 22:06:00,2014-01-01 18:48:00
9,2014-01-01,AA,19805,N332AA,177,JFK,SFO,1752.0,7.0,2120.0,-5.0,0.0,2014-01-01 21:20:00,2014-01-01 17:52:00
10,2014-01-01,AA,19805,N3JWAA,178,JFK,BOS,1253.0,3.0,1351.0,1.0,0.0,2014-01-01 13:51:00,2014-01-01 12:53:00
11,2014-01-01,AA,19805,N336AA,181,JFK,LAX,1907.0,142.0,2223.0,133.0,0.0,2014-01-01 22:23:00,2014-01-01 19:07:00
12,2014-01-01,AA,19805,N3BCAA,256,JFK,BOS,1720.0,-5.0,1819.0,-26.0,0.0,2014-01-01 18:19:00,2014-01-01 17:20:00
13,2014-01-01,AA,19805,N3HPAA,199,JFK,ORD,1733.0,18.0,2024.0,69.0,0.0,2014-01-01 20:24:00,2014-01-01 17:33:00
14,2014-01-01,AA,19805,N3HFAA,211,JFK,IAH,1640.0,25.0,2001.0,36.0,0.0,2014-01-01 20:01:00,2014-01-01 16:40:00
15,2014-01-01,AA,19805,N3DVAA,291,JFK,AUS,1714.0,-1.0,2036.0,1.0,0.0,2014-01-01 20:36:00,2014-01-01 17:14:00
16,2014-01-01,AA,19805,N3KHAA,301,LGA,ORD,553.0,-7.0,739.0,-6.0,0.0,2014-01-01 07:39:00,2014-01-01 05:53:00
17,2014-01-01,AA,19805,N3BSAA,303,LGA,ORD,623.0,-7.0,815.0,0.0,0.0,2014-01-01 08:15:00,2014-01-01 06:23:00
18,2014-01-01,AA,19805,N560AA,305,LGA,ORD,652.0,-8.0,833.0,-17.0,0.0,2014-01-01 08:33:00,2014-01-01 06:52:00
19,2014-01-01,AA,19805,N3GMAA,307,LGA,ORD,738.0,-2.0,940.0,15.0,0.0,2014-01-01 09:40:00,2014-01-01 07:38:00
20,2014-01-01,AA,19805,N553AA,313,LGA,ORD,847.0,-3.0,1036.0,1.0,0.0,2014-01-01 10:36:00,2014-01-01 08:47:00
21,2014-01-01,AA,19805,N3KDAA,317,LGA,ORD,1029.0,44.0,1212.0,42.0,0.0,2014-01-01 12:12:00,2014-01-01 10:29:00
22,2014-01-01,AA,19805,N482AA,325,LGA,ORD,1018.0,3.0,1202.0,12.0,0.0,2014-01-01 12:02:00,2014-01-01 10:18:00
23,2014-01-01,AA,19805,N570AA,327,LGA,ORD,1140.0,-5.0,1349.0,24.0,0.0,2014-01-01 13:49:00,2014-01-01 11:40:00
24,2014-01-01,AA,19805,N3KRAA,331,LGA,ORD,1346.0,26.0,1541.0,46.0,0.0,2014-01-01 15:41:00,2014-01-01 13:46:00
25,2014-01-01,AA,19805,N553AA,341,LGA,ORD,1612.0,52.0,1836.0,91.0,0.0,2014-01-01 18:36:00,2014-01-01 16:12:00
26,2014-01-01,AA,19805,N482AA,343,LGA,ORD,1730.0,55.0,1949.0,84.0,0.0,2014-01-01 19:49:00,2014-01-01 17:30:00
27,2014-01-01,AA,19805,N425AA,345,LGA,ORD,1811.0,36.0,2024.0,59.0,0.0,2014-01-01 20:24:00,2014-01-01 18:11:00
28,2014-01-01,AA,19805,N5FSAA,936,JFK,STT,750.0,0.0,1228.0,-27.0,0.0,2014-01-01 12:28:00,2014-01-01 07:50:00
29,2014-01-01,AA,19805,N3EAAA,359,LGA,ORD,NaN,NaN,NaN,NaN,1.0,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20787,2014-01-31,UA,19977,N589UA,389,JFK,SFO,1830.0,0.0,2159.0,-1.0,0.0,2014-01-31 21:59:00,2014-01-31 18:30:00
20788,2014-01-31,UA,19977,N518UA,397,JFK,SFO,752.0,-8.0,1142.0,7.0,0.0,2014-01-31 11:42:00,2014-01-31 07:52:00
20789,2014-01-31,UA,19977,N587UA,398,JFK,LAX,629.0,-1.0,1020.0,30.0,0.0,2014-01-31 10:20:00,2014-01-31 06:29:00
20790,2014-01-31,UA,19977,N419UA,404,LGA,IAH,1838.0,-17.0,2158.0,-7.0,0.0,2014-01-31 21:58:00,2014-01-31 18:38:00
20791,2014-01-31,UA,19977,N498UA,429,LGA,IAH,1249.0,-5.0,1547.0,-17.0,0.0,2014-01-31 15:47:00,2014-01-31 12:49:00
20792,2014-01-31,UA,19977,N474UA,472,LGA,IAH,955.0,-10.0,1251.0,-31.0,0.0,2014-01-31 12:51:00,2014-01-31 09:55:00
20793,2014-01-31,UA,19977,N509UA,509,LGA,DEN,1740.0,12.0,2024.0,22.0,0.0,2014-01-31 20:24:00,2014-01-31 17:40:00
20794,2014-01-31,UA,19977,N590UA,512,JFK,SFO,1655.0,-5.0,2017.0,-18.0,0.0,2014-01-31 20:17:00,2014-01-31 16:55:00
20795,2014-01-31,UA,19977,N558UA,518,LGA,DEN,1518.0,16.0,1753.0,17.0,0.0,2014-01-31 17:53:00,2014-01-31 15:18:00
20796,2014-01-31,UA,19977,N595UA,535,JFK,LAX,1750.0,-4.0,2108.0,-9.0,0.0,2014-01-31 21:08:00,2014-01-31 17:50:00
20797,2014-01-31,UA,19977,N509UA,561,LGA,DEN,757.0,-8.0,1038.0,9.0,0.0,2014-01-31 10:38:00,2014-01-31 07:57:00
20798,2014-01-31,MQ,20398,N544MQ,3199,LGA,CLT,1513.0,23.0,1702.0,12.0,0.0,2014-01-31 17:02:00,2014-01-31 15:13:00
20799,2014-01-31,UA,19977,N440UA,589,BUF,ORD,654.0,-7.0,744.0,-17.0,0.0,2014-01-31 07:44:00,2014-01-31 06:54:00
20800,2014-01-31,UA,19977,N546UA,642,JFK,SFO,1023.0,-2.0,1424.0,24.0,0.0,2014-01-31 14:24:00,2014-01-31 10:23:00
20801,2014-01-31,UA,19977,N492UA,657,LGA,IAH,626.0,-4.0,919.0,-18.0,0.0,2014-01-31 09:19:00,2014-01-31 06:26:00
20802,2014-01-31,UA,19977,N819UA,681,LGA,ORD,1255.0,-5.0,1424.0,-6.0,0.0,2014-01-31 14:24:00,2014-01-31 12:55:00
20803,2014-01-31,UA,19977,N834UA,685,LGA,ORD,1501.0,1.0,1632.0,2.0,0.0,2014-01-31 16:32:00,2014-01-31 15:01:00
20804,2014-01-31,UA,19977,N807UA,689,LGA,ORD,1654.0,-6.0,1819.0,-28.0,0.0,2014-01-31 18:19:00,2014-01-31 16:54:00
20805,2014-01-31,UA,19977,N429UA,691,LGA,ORD,1755.0,-5.0,1924.0,-16.0,0.0,2014-01-31 19:24:00,2014-01-31 17:55:00
20806,2014-01-31,UA,19977,N816UA,695,LGA,ORD,2000.0,0.0,2148.0,10.0,0.0,2014-01-31 21:48:00,2014-01-31 20:00:00
20807,2014-01-31,UA,19977,N568UA,703,JFK,LAX,831.0,-4.0,1204.0,4.0,0.0,2014-01-31 12:04:00,2014-01-31 08:31:00
20808,2014-01-31,UA,19977,N473UA,711,LGA,ORD,850.0,-10.0,1014.0,-24.0,0.0,2014-01-31 10:14:00,2014-01-31 08:50:00
20809,2014-01-31,UA,19977,N510UA,766,JFK,SFO,1152.0,-8.0,1523.0,-8.0,0.0,2014-01-31 15:23:00,2014-01-31 11:52:00
20810,2014-01-31,UA,19977,N502UA,841,JFK,LAX,1443.0,-2.0,1813.0,9.0,0.0,2014-01-31 18:13:00,2014-01-31 14:43:00
20811,2014-01-31,UA,19977,N37255,1206,LGA,DEN,1225.0,73.0,1543.0,121.0,0.0,2014-01-31 15:43:00,2014-01-31 12:25:00
20812,2014-01-31,UA,19977,N54711,1253,ROC,ORD,801.0,-4.0,908.0,4.0,0.0,2014-01-31 09:08:00,2014-01-31 08:01:00
20813,2014-01-31,UA,19977,N77525,1429,LGA,CLE,1522.0,-10.0,1649.0,-31.0,0.0,2014-01-31 16:49:00,2014-01-31 15:22:00
20814,2014-01-31,UA,19977,N37293,1456,LGA,IAH,719.0,-6.0,1006.0,-20.0,0.0,2014-01-31 10:06:00,2014-01-31 07:19:00
20815,2014-01-31,UA,19977,N24729,1457,LGA,IAH,852.0,7.0,1156.0,-6.0,0.0,2014-01-31 11:56:00,2014-01-31 08:52:00
20816,2014-01-31,MQ,20398,N609MQ,3699,BUF,ORD,1208.0,-12.0,1251.0,-19.0,0.0,2014-01-31 12:51:00,2014-01-31 12:08:00

In [7]:
# data types
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20817 entries, 0 to 20816
Data columns (total 14 columns):
fl_date           20817 non-null datetime64[ns]
unique_carrier    20817 non-null object
airline_id        20817 non-null int64
tail_num          20512 non-null object
fl_num            20817 non-null int64
origin            20817 non-null object
dest              20817 non-null object
dep_time          18462 non-null float64
dep_delay         18462 non-null float64
arr_time          18412 non-null float64
arr_delay         18383 non-null float64
cancelled         20817 non-null float64
arr               18412 non-null datetime64[ns]
dep               18462 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(5), int64(2), object(4)
memory usage: 2.2+ MB

In [11]:
# columns
flights.columns

Index(['fl_date', 'unique_carrier', 'airline_id', 'tail_num', 'fl_num',
       'origin', 'dest', 'dep_time', 'dep_delay', 'arr_time', 'arr_delay',
       'cancelled', 'arr', 'dep'],
      dtype='object')

In [16]:
# selecting single column 
flights['unique_carrier']

0        AA
1        AA
2        AA
3        AA
4        AA
5        AA
6        AA
7        AA
8        AA
9        AA
10       AA
11       AA
12       AA
13       AA
14       AA
15       AA
16       AA
17       AA
18       AA
19       AA
20       AA
21       AA
22       AA
23       AA
24       AA
25       AA
26       AA
27       AA
28       AA
29       AA
         ..
20787    UA
20788    UA
20789    UA
20790    UA
20791    UA
20792    UA
20793    UA
20794    UA
20795    UA
20796    UA
20797    UA
20798    MQ
20799    UA
20800    UA
20801    UA
20802    UA
20803    UA
20804    UA
20805    UA
20806    UA
20807    UA
20808    UA
20809    UA
20810    UA
20811    UA
20812    UA
20813    UA
20814    UA
20815    UA
20816    MQ
Name: unique_carrier, Length: 20817, dtype: object

In [18]:
# selecting multiple columns 
flights[['fl_date', 'airline_id']]

         fl_date  airline_id
0     2014-01-01       19805
1     2014-01-01       19805
2     2014-01-01       19805
3     2014-01-01       19805
4     2014-01-01       19805
5     2014-01-01       19805
6     2014-01-01       19805
7     2014-01-01       19805
8     2014-01-01       19805
9     2014-01-01       19805
10    2014-01-01       19805
11    2014-01-01       19805
12    2014-01-01       19805
13    2014-01-01       19805
14    2014-01-01       19805
15    2014-01-01       19805
16    2014-01-01       19805
17    2014-01-01       19805
18    2014-01-01       19805
19    2014-01-01       19805
20    2014-01-01       19805
21    2014-01-01       19805
22    2014-01-01       19805
23    2014-01-01       19805
24    2014-01-01       19805
25    2014-01-01       19805
26    2014-01-01       19805
27    2014-01-01       19805
28    2014-01-01       19805
29    2014-01-01       19805
...          ...         ...
20787 2014-01-31       19977
20788 2014-01-31       19977
20789 2014-01-31       19977
20790 2014-01-31       19977
20791 2014-01-31       19977
20792 2014-01-31       19977
20793 2014-01-31       19977
20794 2014-01-31       19977
20795 2014-01-31       19977
20796 2014-01-31       19977
20797 2014-01-31       19977
20798 2014-01-31       20398
20799 2014-01-31       19977
20800 2014-01-31       19977
20801 2014-01-31       19977
20802 2014-01-31       19977
20803 2014-01-31       19977
20804 2014-01-31       19977
20805 2014-01-31       19977
20806 2014-01-31       19977
20807 2014-01-31       19977
20808 2014-01-31       19977
20809 2014-01-31       19977
20810 2014-01-31       19977
20811 2014-01-31       19977
20812 2014-01-31       19977
20813 2014-01-31       19977
20814 2014-01-31       19977
20815 2014-01-31       19977
20816 2014-01-31       20398

[20817 rows x 2 columns]

In [28]:
# fininding indexes of dataframe, starting ending of dataframe indexes
flights.index

RangeIndex(start=0, stop=20817, step=1)

In [33]:
# finding count of each aireline types
flights['unique_carrier'].value_counts()

B6    4902
DL    3803
MQ    2434
AA    2427
EV    2080
WN    1917
US    1568
UA    1106
VX     301
FL     206
F9      33
HA      29
OO      11
Name: unique_carrier, dtype: int64

In [45]:
flights['dep'].value_counts().resample('H').sum()

2014-01-31    18462
Freq: M, Name: dep, dtype: int64